{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title 'Lägg till grupper' %}

{% block page_content %}
    <div class="accordion" id="add-groups-container">
        {% for segment, groups in all_groups %}
            <div class="accordion-item" data-segment="{{ segment }}">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_{{ segment }}">
                        {{ segment }}
                    </button>
                </h2>
                <div id="collapse_{{ segment }}" class="accordion-collapse collapse" data-bs-parent="#add-groups-container">
                    <div class="accordion-body">
                        <div class="input-group m-3 w-25">
                            <button class="add-groups-button">Add groups permanently</button>
                            <span class="input-group-text ms-3">StartYear</span>
                            <input name="start-year" class="form-control text-center" size="4" type="number" value="{{ years[segment] + 1 }}">

                        </div>
                        <table>
                            {% for school in schools %}
                                <tr>
                                    <td>{{ school.Name }}</td>
                                    <td><input data-school="{{ school.id }}" class="group-number form-control w-50 text-center" type="number" min="0" value="{{ groups[school.id] }}"></td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>
{% endblock %}


{#
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Accordion Item #1
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Accordion Item #2
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Accordion Item #3
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
</div>
#}