{# pending_users, ignore_approval pending_users_ids #}

{% set labels = {'no': 'Nej!', 'yes': 'Ja!', 'unsure': 'Vet inte'} %}

<!-- This is the modal -->
<div id="approve-user-modal"
     class="modal" tabindex="-1"
     data-bs-backdrop="static" data-bs-keyboard="false"
     data-ignore-approval="{{ ignore_approval }}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Tillhör dessa personer din skola?</h5>
            </div>
            <div class="modal-body">
                <ul>
                    {% for p_user in pending_users  %}
                        <li>{{ p_user.FirstName }} {{ p_user.LastName }}:
                            {% for val, label  in labels %}
                                {% set input_id = "input_" ~ p_user.id ~ "_" ~ val %}
                                <input class="ms-3" id="{{ input_id }}" data-pending-user-id="{{ p_user.id }}" type="radio" name="approval_{{ p_user.id }}" value={{ val }}>
                                <label for="{{ input_id }}">{{ label }}</label>
                            {% endfor %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="modal-footer">
                <button id="approve-user-submit" type="button" class="btn btn-primary">Bekräfta</button>
            </div>
        </div>
    </div>
</div>
