<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta id="api-key" data-api-key="{{ API_KEY }}">
    <title>{% block title %}Naturskolans databas{% endblock %}</title>
    <link rel="icon" type="image/jpg" href="{{ asset('favicon.ico') }}" />
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
{% block toast %}
    {{ include('toast.html.twig') }}
{% endblock %}

{% block content %}{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>